<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<div id="chap1" th:fragment="chap1">
		<h1>Chapter 1</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi dolorem fugiat deserunt expedita aliquam quo? Provident ex quaerat cupiditate harum commodi nihil facilis totam quis iste incidunt at sequi sed.
		</p>		
	</div>
	
	<div th:fragment="chap2">
		<h1>Chapter2</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quia eum molestias voluptatem consequatur doloremque eius excepturi explicabo impedit laudantium dolor officiis assumenda odit officia provident temporibus veniam asperiores fugiat!			
		</p>
	</div>
</body>
</html>